# tudo que estiver escrito aqui sera ignorado
# na hora de fazer o git
# ideal para guardar as chaves secretas
.DS_Store
secrets.txt

# *.txt
# ignora tudo que for txt no git

# *.log
# faz o mesmo com os log